.idea
__pycache__/
*.py[cod]
server_debug/
*.pth
*.ckpt
*.png
*.mat
src/utils/else_module
!assets/framework.png
!assets/figs2.png
!demo/depth_test.png
!demo/vis_test.png
!assets/modality.png
!data_engine/figs/example.png
!data_engine/tools/paint/paint_transformer/brush/*